<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="main.com.weixinHtml.dao.po.ShopAdvanceOrder" >

  <resultMap id="BaseResultMap" type="main.com.weixinHtml.dao.vo.ShopAdvanceOrderVo" >
    <id column="advance_order_id" property="advanceOrderId" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="shop_user_id" property="shopUserId" jdbcType="INTEGER" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="over_delete" property="overDelete" jdbcType="TINYINT" />
    <result column="deposit_price" property="depositPrice" jdbcType="DECIMAL" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="over_catch" property="overCatch" jdbcType="TINYINT" />
    <result column="system_user_id" property="systemUserId" jdbcType="INTEGER" />
    <result column="system_user_name" property="systemUserName" jdbcType="VARCHAR" />
    <result column="real_order_id" property="realOrderId" jdbcType="INTEGER" />
    <result column="catch_date" property="catchDate" jdbcType="TIMESTAMP" />
    <result column="the_source" property="theSource" jdbcType="VARCHAR" />
    <result column="time_of_appointment" property="timeOfAppointment" jdbcType="VARCHAR" />
    <result column="time_of_appointment_date" property="timeOfAppointmentDate" jdbcType="TIMESTAMP" />
    <result column="appointment_date" property="appointmentDate" jdbcType="TIMESTAMP" />
    <result column="over_pay" property="overPay" jdbcType="TINYINT" />
    <result column="expect_buy_way" property="expectBuyWay" jdbcType="INTEGER" />
    <result column="expect_pay_way" property="expectPayWay" jdbcType="INTEGER" />
    <result column="order_source" property="orderSource" jdbcType="INTEGER" />
    <result column="order_source_id" property="orderSourceId" jdbcType="INTEGER" />   
    <result column="discount_price_on_line" property="discountPriceOnLine" jdbcType="DECIMAL" />
    <result column="bare_car_price_on_line" property="bareCarPriceOnLine" jdbcType="DECIMAL" />
    <result column="logistics_price" property="logisticsPrice" jdbcType="DECIMAL" />   
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />   
  </resultMap>
  
  <resultMap id="BaseResultMapJoin" type="main.com.weixinHtml.dao.vo.ShopAdvanceOrderVo" >
    <id column="advance_order_id" property="advanceOrderId" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="shop_user_id" property="shopUserId" jdbcType="INTEGER" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="over_delete" property="overDelete" jdbcType="TINYINT" />
    <result column="deposit_price" property="depositPrice" jdbcType="DECIMAL" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="over_catch" property="overCatch" jdbcType="TINYINT" />
    <result column="system_user_id" property="systemUserId" jdbcType="INTEGER" />
    <result column="system_user_name" property="systemUserName" jdbcType="VARCHAR" />
    <result column="real_order_id" property="realOrderId" jdbcType="INTEGER" />
    <result column="catch_date" property="catchDate" jdbcType="TIMESTAMP" />
    <result column="the_source" property="theSource" jdbcType="VARCHAR" />
    <result column="time_of_appointment" property="timeOfAppointment" jdbcType="VARCHAR" />
    <result column="time_of_appointment_date" property="timeOfAppointmentDate" jdbcType="TIMESTAMP" />
    <result column="appointment_date" property="appointmentDate" jdbcType="TIMESTAMP" />
    <result column="over_pay" property="overPay" jdbcType="TINYINT" />
    <result column="expect_buy_way" property="expectBuyWay" jdbcType="INTEGER" />
    <result column="expect_pay_way" property="expectPayWay" jdbcType="INTEGER" />
    <result column="order_source" property="orderSource" jdbcType="INTEGER" />
    <result column="order_source_id" property="orderSourceId" jdbcType="INTEGER" />
    <result column="discount_price_on_line" property="discountPriceOnLine" jdbcType="DECIMAL" />
    <result column="bare_car_price_on_line" property="bareCarPriceOnLine" jdbcType="DECIMAL" />
    <result column="logistics_price" property="logisticsPrice" jdbcType="DECIMAL" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
<!--     ShopAdvanceOrderPaymentVo   -->
<!--     <association property="orderPaymentVo" column="advance_order_id" select="getOrderPayment"></association> -->
    <collection property="orderPaymentVos" column="advance_order_id" select="getOrderPayments"></collection>
<!--     <collection property="goodsCarVos" ofType="main.com.logistics.dao.vo.LogisticsGoodsCarVo" column="consignment_id" select="selectGoodsCar"></collection>   -->
    <collection property="orderInfoVos" column="advance_order_id" select="getOrderInfoVos"></collection>  
  </resultMap>
  
   <resultMap id="shopAdvanceOrderPayment" type="main.com.weixinHtml.dao.vo.ShopAdvanceOrderPaymentVo" >
    <id column="order_in_pay_id" property="orderInPayId" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="advance_order_id" property="advanceOrderId" jdbcType="INTEGER" />
    <result column="advance_order_code" property="advanceOrderCode" jdbcType="VARCHAR" />
    <result column="advance_order_state" property="advanceOrderState" jdbcType="INTEGER" />
    <result column="pay_method" property="payMethod" jdbcType="INTEGER" />
    <result column="payment_record_bill_id" property="paymentRecordBillId" jdbcType="INTEGER" />
    <result column="order_in_pay_state" property="orderInPayState" jdbcType="INTEGER" />
    <result column="remarkss" property="remarkss" jdbcType="VARCHAR" />
    <result column="pay_date" property="payDate" jdbcType="TIMESTAMP" />
    <result column="order_in_pay_code" property="orderInPayCode" jdbcType="VARCHAR" />
  </resultMap>
  
    <select id="getOrderPayments" resultMap="shopAdvanceOrderPayment" parameterType="java.lang.Integer" >
    select shop_advance_order_payment.*
    	from shop_advance_order_payment
    where shop_advance_order_payment.advance_order_id = #{advance_order_id}
  </select>
  
    <resultMap id="shopAdvanceOrderInfo" type="main.com.weixinHtml.dao.vo.ShopAdvanceOrderInfoVo" >
    <id column="advance_order_info_id" property="advanceOrderInfoId" jdbcType="INTEGER" />
    <result column="advance_order_id" property="advanceOrderId" jdbcType="INTEGER" />
    <result column="cars_id" property="carsId" jdbcType="INTEGER" />
    <result column="over_delete" property="overDelete" jdbcType="TINYINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="invoice_price" property="invoicePrice" jdbcType="DECIMAL" />
    <result column="deposit_price" property="depositPrice" jdbcType="DECIMAL" />
    <result column="guiding_price" property="guidingPrice" jdbcType="DECIMAL" />
    <result column="family_id" property="familyId" jdbcType="INTEGER" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="colour_id" property="colourId" jdbcType="INTEGER" />
    <result column="cars_name" property="carsName" jdbcType="VARCHAR" />
    <result column="colour_name" property="colourName" jdbcType="VARCHAR" />
    <result column="saleing_number" property="saleingNumber" jdbcType="INTEGER" />
    <result column="over_insurance" property="overInsurance" jdbcType="TINYINT" />
    <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
    <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR" />
    <result column="interior_id" property="interiorId" jdbcType="INTEGER" />
    <result column="interior_name" property="interiorName" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="discount_price_on_line" property="discountPriceOnLine" jdbcType="DECIMAL" />
    <result column="bare_car_price_on_line" property="bareCarPriceOnLine" jdbcType="DECIMAL" />
    <result column="logistics_price" property="logisticsPrice" jdbcType="DECIMAL" />  
  </resultMap>
  
   <select id="getOrderInfoVos" resultMap="shopAdvanceOrderInfo" parameterType="java.lang.Integer" >
    select shop_advance_order_info.*
    	from shop_advance_order_info
    where shop_advance_order_info.advance_order_id = #{advance_order_id} and shop_advance_order_info.over_delete = 0
  </select>
  
  <sql id="Where_Condition">
		<where>
			<trim prefixOverrides="and">
				<!-- 匹配查询 -->
				<if test="advanceOrderId != null">and shop_advance_order.advance_order_id = #{advanceOrderId}</if>	<!-- 金融机构 -->			
				<if test="shopUserId != null">and shop_advance_order.shop_user_id = #{shopUserId}</if>		
				<if test="systemUserId != null">and shop_advance_order.system_user_id = #{systemUserId}</if>		
				<if test="overDelete == null">and shop_advance_order.over_delete = 0</if>				
				<if test="orgId != null and orgId != ''">and shop_advance_order.org_id = #{orgId}</if>
				<if test="orderSource != null">and shop_advance_order.order_source = #{orderSource}</if>
				<if test="overPay != null">and shop_advance_order.over_pay = #{overPay}</if>
				<if test="orgCode != null and orgCode !=''">and shop_advance_order.org_code = #{orgCode}</if>
				<if test="keywords != null and keywords != ''">and (shop_advance_order.order_code like CONCAT('%',#{keywords},'%') 
				or shop_advance_order.real_name like CONCAT('%',#{keywords},'%')
				or shop_advance_order.phone_number like CONCAT('%',#{keywords},'%')
				)
				</if>												
				
                  <!-- 时间筛选 -->
				<if test="startDate != null and startDate != ''">and DATE_FORMAT(shop_advance_order.create_time ,'%Y-%m-%d') &gt;= DATE_FORMAT(#{startDate}, '%Y-%m-%d')</if>
				<if test="endDate != null and endDate != ''">and DATE_FORMAT(shop_advance_order.create_time ,'%Y-%m-%d') &lt;= DATE_FORMAT(#{endDate}, '%Y-%m-%d')</if>	
				               
				<!-- list查询 -->
				<if test="ids != null">and shop_advance_order.advance_order_id in
                    <foreach item="item" index="index" collection="ids"
                             open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
			</trim>
		</where>
	</sql>

	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long"
		parameterType="java.util.Map">
		select count(advance_order_id) from shop_advance_order
		<include refid="Where_Condition" />
	</select>

	<!-- 查询 -->
	<select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
		select 
    		shop_advance_order.*
    	from shop_advance_order
		<include refid="Where_Condition" />
		<if test="createOder != null"> order by shop_advance_order.create_time desc </if>
		<if test="isPage== true and offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
	</select>
	
	<!-- 查询 -->
	<select id="selectJoin" resultMap="BaseResultMapJoin" parameterType="java.util.Map">
		select 
    		shop_advance_order.*
    	from shop_advance_order
		<include refid="Where_Condition" />
		<if test="createOder != null"> order by shop_advance_order.create_time desc </if>
		<if test="isPage== true and offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
	</select>
  
  <select id="selectByIdJoin" resultMap="BaseResultMapJoin" parameterType="java.lang.Integer" >
    select 
    shop_advance_order.*
    from shop_advance_order
    where advance_order_id = #{advanceOrderId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByCode" resultMap="BaseResultMapJoin" parameterType="java.lang.String" >
    select 
    shop_advance_order.*
    from shop_advance_order
    where order_code = #{orderCode}
  </select>
  
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    shop_advance_order.*
    from shop_advance_order
    where advance_order_id = #{advanceOrderId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from shop_advance_order
    where advance_order_id = #{advanceOrderId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="main.com.weixinHtml.dao.po.ShopAdvanceOrder" useGeneratedKeys="true" keyProperty="advanceOrderId" >
    insert into shop_advance_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="orgName != null" >
        org_name,
      </if>
      <if test="shopUserId != null" >
        shop_user_id,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="overDelete != null" >
        over_delete,
      </if>
      <if test="depositPrice != null" >
        deposit_price,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="overCatch != null" >
        over_catch,
      </if>
      <if test="systemUserId != null" >
        system_user_id,
      </if>
      <if test="systemUserName != null" >
        system_user_name,
      </if>
      <if test="realOrderId != null" >
        real_order_id,
      </if>
      <if test="catchDate != null" >
        catch_date,
      </if>
      <if test="theSource != null" >
        the_source,
      </if>
      <if test="timeOfAppointment != null" >
        time_of_appointment,
      </if>
      <if test="timeOfAppointmentDate != null" >
        time_of_appointment_date,
      </if>
      <if test="appointmentDate != null" >
        appointment_date,
      </if>
      <if test="overPay != null" >
        over_pay,
      </if>
      <if test="expectBuyWay != null" >
        expect_buy_way,
      </if>
      <if test="expectPayWay != null" >
        expect_pay_way,
      </if>
      <if test="orderSource != null" >
        order_source,
      </if>
      <if test="orderSourceId != null" >
        order_source_id,
      </if>
      <if test="discountPriceOnLine != null" >
        discount_price_on_line,
      </if>
      <if test="bareCarPriceOnLine != null" >
        bare_car_price_on_line,
      </if>
      <if test="logisticsPrice != null" >
        logistics_price,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="shopUserId != null" >
        #{shopUserId,jdbcType=INTEGER},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="overDelete != null" >
        #{overDelete,jdbcType=TINYINT},
      </if>
      <if test="depositPrice != null" >
        #{depositPrice,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="overCatch != null" >
        #{overCatch,jdbcType=TINYINT},
      </if>
      <if test="systemUserId != null" >
        #{systemUserId,jdbcType=INTEGER},
      </if>
      <if test="systemUserName != null" >
        #{systemUserName,jdbcType=VARCHAR},
      </if>
      <if test="realOrderId != null" >
        #{realOrderId,jdbcType=INTEGER},
      </if>
      <if test="catchDate != null" >
        #{catchDate,jdbcType=TIMESTAMP},
      </if>
      <if test="theSource != null" >
        #{theSource,jdbcType=VARCHAR},
      </if>
      <if test="timeOfAppointment != null" >
        #{timeOfAppointment,jdbcType=VARCHAR},
      </if>
      <if test="timeOfAppointmentDate != null" >
        #{timeOfAppointmentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="appointmentDate != null" >
        #{appointmentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="overPay != null" >
        #{overPay,jdbcType=TINYINT},
      </if>
      <if test="expectBuyWay != null" >
        #{expectBuyWay,jdbcType=INTEGER},
      </if>
      <if test="expectPayWay != null" >
        #{expectPayWay,jdbcType=INTEGER},
      </if>
      <if test="orderSource != null" >
        #{orderSource,jdbcType=INTEGER},
      </if>
      <if test="orderSourceId != null" >
        #{orderSourceId,jdbcType=INTEGER},
      </if>    
      <if test="discountPriceOnLine != null" >
        #{discountPriceOnLine},
      </if>    
      <if test="bareCarPriceOnLine != null" >
        #{bareCarPriceOnLine},
      </if>    
      <if test="logisticsPrice != null" >
        #{logisticsPrice},
      </if>
      <if test="orgCode != null" >
        #{orgCode},
      </if>   
    </trim>
  </insert>
  
  <update id="updateById" parameterType="main.com.weixinHtml.dao.po.ShopAdvanceOrder" >
    update shop_advance_order
    <set >
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="orgName != null" >
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="shopUserId != null" >
        shop_user_id = #{shopUserId,jdbcType=INTEGER},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="overDelete != null" >
        over_delete = #{overDelete,jdbcType=TINYINT},
      </if>
      <if test="depositPrice != null" >
        deposit_price = #{depositPrice,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="overCatch != null" >
        over_catch = #{overCatch,jdbcType=TINYINT},
      </if>
      <if test="systemUserId != null" >
        system_user_id = #{systemUserId,jdbcType=INTEGER},
      </if>
      <if test="systemUserName != null" >
        system_user_name = #{systemUserName,jdbcType=VARCHAR},
      </if>
      <if test="realOrderId != null" >
        real_order_id = #{realOrderId,jdbcType=INTEGER},
      </if>
      <if test="catchDate != null" >
        catch_date = #{catchDate,jdbcType=TIMESTAMP},
      </if>
      <if test="theSource != null" >
        the_source = #{theSource,jdbcType=VARCHAR},
      </if>
      <if test="timeOfAppointment != null" >
        time_of_appointment = #{timeOfAppointment,jdbcType=VARCHAR},
      </if>
      <if test="timeOfAppointmentDate != null" >
        time_of_appointment_date = #{timeOfAppointmentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="appointmentDate != null" >
        appointment_date = #{appointmentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="overPay != null" >
        over_pay = #{overPay,jdbcType=TINYINT},
      </if>
      <if test="expectBuyWay != null" >
        expect_buy_way = #{expectBuyWay,jdbcType=INTEGER},
      </if>
      <if test="expectPayWay != null" >
        expect_pay_way = #{expectPayWay,jdbcType=INTEGER},
      </if>
      <if test="orderSource != null" >
        order_source = #{orderSource,jdbcType=INTEGER},
      </if>
      <if test="orderSourceId != null" >
        order_source_id = #{orderSourceId,jdbcType=INTEGER},
      </if>
      <if test="discountPriceOnLine != null" >
        discount_price_on_line = #{discountPriceOnLine},
      </if>
      <if test="bareCarPriceOnLine != null" >
        bare_car_price_on_line = #{bareCarPriceOnLine},
      </if>
      <if test="logisticsPrice != null" >
        logistics_price = #{logisticsPrice},
      </if>
      <if test="orgCode != null">
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>  
    </set>
    where advance_order_id = #{advanceOrderId,jdbcType=INTEGER}
  </update>
</mapper>