<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="main.com.customer.dao.po.CustomerCustomerOrg" >

  <resultMap id="BaseResultMap" type="main.com.customer.dao.vo.CustomerCustomerOrgVo" >
    <id column="customer_users_org_id" property="customerUsersOrgId" jdbcType="INTEGER" />
    <result column="customer_users_name" property="customerUsersName" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="org_short_name" property="orgShortName" jdbcType="VARCHAR" />
    <result column="car_purchase_intention" property="carPurchaseIntention" jdbcType="VARCHAR" />
    <result column="is_edit" property="isEdit" jdbcType="TINYINT" />
    <result column="expect_way_id" property="expectWayId" jdbcType="INTEGER" />
    <result column="intention_car_id" property="intentionCarId" jdbcType="INTEGER" />
    <result column="intention_car_info" property="intentionCarInfo" jdbcType="VARCHAR" />
    <result column="time_of_appointment" property="timeOfAppointment" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="system_user_id" property="systemUserId" jdbcType="INTEGER" />
    <result column="system_user_name" property="systemUserName" jdbcType="VARCHAR" />
    <result column="system_user_phone" property="systemUserPhone" jdbcType="VARCHAR" />
    <result column="customer_users_id" property="customerUsersId" jdbcType="INTEGER" />
    <result column="expect_way_name" property="expectWayName" jdbcType="VARCHAR" />
    <result column="is_track" property="isTrack" jdbcType="TINYINT" />
    <result column="is_not_buy" property="isNotBuy" jdbcType="TINYINT" />
    <result column="time_of_appointment_date" property="timeOfAppointmentDate" jdbcType="TIMESTAMP" />
    <result column="appointment_date" property="appointmentDate" jdbcType="TIMESTAMP" />
    <result column="is_appointment" property="isAppointment" jdbcType="TINYINT" />
    <result column="the_source" property="theSource" jdbcType="VARCHAR" />
    <result column="intensity" property="intensity" jdbcType="INTEGER" />
    <result column="make_source" property="makeSource" jdbcType="INTEGER" />
    
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    customer_users_org_id, customer_users_name, phone_number, create_date, org_id, org_short_name, customer_users_id,
    car_purchase_intention, is_edit, expect_way_id, expect_way_name, intention_car_id, intention_car_info, time_of_appointment, 
    remarks, system_user_id, system_user_name, system_user_phone, is_track,is_not_buy, time_of_appointment_date,appointment_date,
    is_appointment,the_source,intensity,make_source
  </sql>
  <sql id="Base_Column_List_" >
    customer_customerorg.customer_users_org_id, customer_customerorg.customer_users_name, customer_customerorg.phone_number, customer_customerorg.create_date,
    customer_customerorg.org_id, customer_customerorg.org_short_name, customer_customerorg.customer_users_id,
    customer_customerorg.car_purchase_intention, customer_customerorg.is_edit, customer_customerorg.expect_way_id, customer_customerorg.expect_way_name,
    customer_customerorg.intention_car_id, customer_customerorg.intention_car_info, customer_customerorg.time_of_appointment, 
    customer_customerorg.remarks, customer_customerorg.system_user_id, customer_customerorg.system_user_name, customer_customerorg.system_user_phone, 
    customer_customerorg.is_track,is_not_buy, customer_customerorg.time_of_appointment_date,customer_customerorg.appointment_date,customer_customerorg.is_appointment,
    the_source,intensity,make_source
  </sql>
  
  	<sql id="Where_Condition">
		<where>
			<trim prefixOverrides="and">
				<!-- 匹配查询 -->
				<if test="customerUsersOrgId != null">and customer_customerorg.customer_users_org_id = #{customerUsersOrgId}</if>
				<if test="customerId != null">and customer_customerorg.customer_users_id = #{customerId}</if>				
				<if test="customerUsersId != null">and customer_customerorg.customer_users_id = #{customerUsersId}</if>				
				<if test="orgId != null">and customer_customerorg.org_id = #{orgId}</if>				
				<if test="customerUsersName != null">and customer_customerorg.customerUsersName = #{customerUsersName}</if>				
				<if test="phoneNumber != null">and customer_customerorg.phone_number like CONCAT('%',#{phoneNumber},'%')</if>				
				<if test="isTrack == true">and customer_customerorg.is_track = 1</if>				
				<if test="is_appointment == true">and customer_customerorg.is_appointment = 1</if>				
				<if test="isBespeak == true">and customer_customerorg.is_appointment = 1 and customer_customerorg.is_not_buy  = 0</if>				
				<if test="isAppointment == true">and customer_customerorg.is_appointment = 1</if>				
				<if test="paymentWay != null">and customer_customerorg.expect_way_id = #{paymentWay}</if>								
				<if test="theSource != null and theSource != ''">and customer_customerorg.the_source = #{theSource}</if>								
				<!-- 时间筛选 -->
				<if test="startDate != null and startDate != ''">and DATE_FORMAT(customer_customerorg.appointment_date ,'%Y-%m-%d') &gt;= DATE_FORMAT(#{startDate}, '%Y-%m-%d')</if>
				<if test="endDate != null and endDate != ''">and DATE_FORMAT(customer_customerorg.appointment_date ,'%Y-%m-%d') &lt;= DATE_FORMAT(#{endDate}, '%Y-%m-%d')</if>	
								
				<if test="startCreateDate != null and startCreateDate != ''">and DATE_FORMAT(customer_customerorg.create_date ,'%Y-%m-%d') &gt;= DATE_FORMAT(#{startCreateDate}, '%Y-%m-%d')</if>
				<if test="endCreateDate != null and endCreateDate != ''">and DATE_FORMAT(customer_customerorg.create_date ,'%Y-%m-%d') &lt;= DATE_FORMAT(#{endCreateDate}, '%Y-%m-%d')</if>	
								
				<if test="orgCode != null and orgCode != null">and (customer_customerorg.org_id IN (select orgId from system_organization where system_organization.orgCodeLevel like
                    CONCAT('%',#{orgCode},'%')))
                </if>
                <if test="customerUsersSearch != null and customerUsersSearch != ''">and (customer_customerorg.customer_users_name like CONCAT('%',#{customerUsersSearch},'%') or customer_customerorg.phone_number like CONCAT('%',#{customerUsersSearch},'%'))</if>              
				
				<!-- list查询 -->
				<if test="ids != null">and customer_customerorg.customerUsersOrgId in
                    <foreach item="item" index="index" collection="ids"
                             open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
				<!-- list查询 -->
				<if test="orgIds != null">and customer_customerorg.org_id in
                    <foreach item="item" index="index" collection="orgIds"
                             open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
				<!-- list查询 -->
				<if test="customerUsersIds != null">and customer_customerorg.customer_users_id in
                    <foreach item="item" index="index" collection="customerUsersIds"
                             open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
				<!-- list查询 -->
				<if test="systemUserId != null">and customer_customerorg.system_user_id = #{systemUserId}</if>				
				<if test="systemUserIds != null">and (customer_customerorg.system_user_id is null or customer_customerorg.system_user_id in
                    <foreach item="item" index="index" collection="systemUserIds"
                             open="(" separator="," close="))">
                        #{item}
                    </foreach>
                </if>
			</trim>
		</where>
	</sql>


	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long"
		parameterType="java.util.Map">
		select count(customer_users_org_id) from customer_customerorg
		<include refid="Where_Condition" />
	</select>

	<!-- 查询 -->
	<select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from customer_customerorg
		<include refid="Where_Condition" />
		<if test="sortField != null"> order by customer_customerorg.create_date desc </if>
		<if test="isPage== true and offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
	</select>
  
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from customer_customerorg
    where customer_users_org_id = #{customerUsersOrgId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from customer_customerorg
    where customer_users_org_id = #{customerUsersOrgId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="main.com.customer.dao.po.CustomerCustomerOrg" useGeneratedKeys="true" keyProperty="customerUsersOrgId" >
    insert into customer_customerorg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerUsersName != null" >
        customer_users_name,
      </if>
      <if test="customerUsersId != null" >
        customer_users_id,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="orgShortName != null" >
        org_short_name,
      </if>
      <if test="carPurchaseIntention != null" >
        car_purchase_intention,
      </if>
      <if test="isEdit != null" >
        is_edit,
      </if>
      <if test="expectWayId != null" >
        expect_way_id,
      </if>
      <if test="expectWayName != null" >
        expect_way_name,
      </if>
      <if test="intentionCarId != null" >
        intention_car_id,
      </if>
      <if test="timeOfAppointment != null" >
        time_of_appointment,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="systemUserId != null" >
        system_user_id,
      </if>
      <if test="systemUserName != null" >
        system_user_name,
      </if>
      <if test="systemUserPhone != null" >
        system_user_phone,
      </if>
      <if test="intentionCarInfo != null" >
        intention_car_info,
      </if>
      <if test="isTrack != null" >
        is_track,
      </if>
      <if test="isNotBuy != null" >
        is_not_buy,
      </if>
      <if test="timeOfAppointmentDate != null" >
        time_of_appointment_date,
      </if>
      <if test="appointmentDate != null" >
        appointment_date,
      </if>
      <if test="isAppointment != null" >
        is_appointment,
      </if>
      <if test="theSource != null" >
        the_source,
      </if>
      <if test="intensity != null" >
        intensity,
      </if>
      <if test="makeSource != null" >
        make_source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerUsersName != null" >
        #{customerUsersName,jdbcType=VARCHAR},
      </if>
      <if test="customerUsersId != null" >
        #{customerUsersId,jdbcType=INTEGER},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="orgShortName != null" >
        #{orgShortName,jdbcType=VARCHAR},
      </if>
      <if test="carPurchaseIntention != null" >
        #{carPurchaseIntention,jdbcType=VARCHAR},
      </if>
      <if test="isEdit != null" >
        #{isEdit,jdbcType=TINYINT},
      </if>
      <if test="expectWayId != null" >
        #{expectWayId,jdbcType=INTEGER},
      </if>
      <if test="expectWayName != null" >
        #{expectWayName,jdbcType=INTEGER},
      </if>
      <if test="intentionCarId != null" >
        #{intentionCarId,jdbcType=INTEGER},
      </if>
      <if test="timeOfAppointment != null" >
        #{timeOfAppointment,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="systemUserId != null" >
        #{systemUserId,jdbcType=INTEGER},
      </if>
      <if test="systemUserName != null" >
        #{systemUserName,jdbcType=VARCHAR},
      </if>
      <if test="systemUserPhone != null" >
        #{systemUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="intentionCarInfo != null" >
        #{intentionCarInfo,jdbcType=VARCHAR},
      </if>
      <if test="isTrack != null" >
        #{isTrack,jdbcType=TINYINT},
      </if>
      <if test="isNotBuy != null" >
        #{isNotBuy,jdbcType=TINYINT},
      </if>
      <if test="timeOfAppointmentDate != null" >
        #{timeOfAppointmentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="appointmentDate != null" >
        #{appointmentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isAppointment != null" >
        #{isAppointment},
      </if>
      <if test="theSource != null" >
        #{theSource},
      </if>
      <if test="intensity != null" >
        #{intensity},
      </if>
      <if test="makeSource != null" >
        #{makeSource},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="main.com.customer.dao.po.CustomerCustomerOrg" >
    update customer_customerorg
    <set >
      <if test="customerUsersName != null" >
        customer_users_name = #{customerUsersName,jdbcType=VARCHAR},
      </if>
      <if test="customerUsersId != null" >
        customer_users_id = #{customerUsersId,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="orgShortName != null" >
        org_short_name = #{orgShortName,jdbcType=VARCHAR},
      </if>
      <if test="carPurchaseIntention != null" >
        car_purchase_intention = #{carPurchaseIntention,jdbcType=VARCHAR},
      </if>
      <if test="isEdit != null" >
        is_edit = #{isEdit,jdbcType=TINYINT},
      </if>
      <if test="expectWayId != null" >
        expect_way_id = #{expectWayId,jdbcType=INTEGER},
      </if>
      <if test="expectWayName != null" >
        expect_way_name = #{expectWayName,jdbcType=INTEGER},
      </if>
      <if test="intentionCarId != null" >
        intention_car_id = #{intentionCarId,jdbcType=INTEGER},
      </if>
      <if test="timeOfAppointment != null" >
        time_of_appointment = #{timeOfAppointment,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="systemUserId != null" >
        system_user_id = #{systemUserId,jdbcType=INTEGER},
      </if>
      <if test="systemUserName != null" >
        system_user_name = #{systemUserName,jdbcType=VARCHAR},
      </if>
      <if test="systemUserPhone != null" >
        system_user_phone = #{systemUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="intentionCarInfo != null" >
        intention_car_info = #{intentionCarInfo,jdbcType=VARCHAR},
      </if>
      <if test="isTrack != null" >
        is_track = #{isTrack,jdbcType=TINYINT},
      </if>
      <if test="isNotBuy != null" >
        is_not_buy = #{isNotBuy,jdbcType=TINYINT},
      </if>
      <if test="timeOfAppointmentDate != null" >
        time_of_appointment_date = #{timeOfAppointmentDate},
      </if>
      <if test="appointmentDate != null" >
        appointment_date = #{appointmentDate},
      </if>
      <if test="isAppointment != null" >
        is_appointment = #{isAppointment},
      </if>
      <if test="theSource != null" >
        the_source = #{theSource},
      </if>
      <if test="intensity != null" >
        intensity = #{intensity},
      </if>
      <if test="makeSource != null" >
        make_source = #{makeSource},
      </if>
    </set>
    where customer_users_org_id = #{customerUsersOrgId,jdbcType=TIMESTAMP}
  </update>
</mapper>