@charset 'utf-8';
html, body {
  margin: 0px; padding: 0px; 
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif; -webkit-font-smoothing: antialiased;
}
html{font-size: 20px;}
body{font-size: 14px; line-height: 1.6;}
img{max-width: 100%; border:none;}
/*
  http://www.css88.com/book/css/ 
  弹性布局===================
  .l-flex-h  横向布局不换行，子项将会同等高度
  .l-flex-hc 横向布局不换行，子项将垂直居中
  .vux-center .vux-center-h .vux-center-v
*/
.l-flex-h,
.l-flex-hc,
.l-flex-hvc,
.l-flex-v,
.l-flex-vc,
.l-flex-vhc,
.l-flex-wrap {
  /*应用于父元素 */
  display: flex;
}
/*
  flex-flow: <' flex-direction '> || <' flex-wrap '>
  flex-direction: row | row-reverse | column | column-reverse
  flex-wrap: nowrap | wrap | wrap-reverse
*/
.l-flex-h,
.l-flex-hc,
.l-flex-hvc {
  /*横向布局*/
  flex-flow: row nowrap;
}
.l-flex-v,
.l-flex-vc,
.l-flex-vhc {
  /*纵向布局*/
  flex-flow: column nowrap;
}
/*
  justify-content: flex-start | flex-end | center | space-between | space-around 用于不换行的弹性盒模型容器
  align-items: flex-start | flex-end | center | baseline | stretch 用于不换行的弹性盒模型容器
*/
.l-flex-h {
  /*同等高度*/
  align-items: strecth;
}
.l-flex-hc,
.l-flex-hvc {
  /*水平排列的垂直居中*/
  align-items: center;
}
.l-flex-hvc {
  /*水平排列的水平居中*/
  justify-content: center;
}

.l-flex-vc,
.l-flex-vhc{
  /*垂直排列的垂直居中*/
  justify-content: center;
}
.l-flex-vhc {
  /*垂直排列的水平居中*/
  align-items: center;
}

/*
  用于换行的弹性盒模型容器
  align-content: flex-start | flex-end | center | space-between | space-around | stretch 
*/
.l-flex-wrap {
  /*水平排列换行布局*/
  flex-flow: row wrap;
  /*align-content: flex-start;*/
  /*justify-content: space-between;*/
}

/*
  设置子项
  flex: none | <' flex-grow '> <' flex-shrink >'? || <' flex-basis '>
  flex-grow: <number> 剩余空间扩展比例
  flex-shrink: <number>  不足空间收缩比例
  flex-basis: <length> | <percentage> | auto | content   // 基准值
  align-self: auto | flex-start | flex-end | center | baseline | stretch
*/
[class*='l-flex-'] > .l-rest {
  /*如果只有设置其中一个子项，其将霸占剩余部分*/
  display: block;
  flex: 1;
}
/*弹性布局===================end*/

/*边距*/
.l-padding-btn{padding: 0.5rem 1rem;}
.l-padding{padding:1rem;}
.l-padding-s{padding: 0.5rem;}
.l-padding-xs{padding: 0.375rem;}
.l-padding-r-xl{padding-right: 1.5rem;}
.l-padding-b{padding-bottom: 1rem;}
.l-padding-t{padding-top: 1rem;}
.l-padding-lr{padding-left:1rem;padding-right: 1rem;}
.l-padding-tb{padding-top:1rem;padding-bottom: 1rem;}
.l-padding-tb-m{padding-top: 0.5rem;padding-bottom: 0.5rem;}
.l-padding-tb-s{padding-top: 0.375rem;padding-bottom: 0.375rem;}
.l-margin-0{margin:0 !important;}
.l-margin-s{margin:0.375rem;}
.l-margin-xs{margin: 0.25rem;}
.l-margin{margin:1rem;}
.l-margin-tb{margin-top: 1rem;margin-bottom: 1rem;}
.l-margin-tb-m{margin-top: 0.5rem;margin-bottom: 0.5rem;}
.l-margin-t{margin-top: 1rem;}
.l-margin-m1{margin-top: 0.25rem; margin-bottom: -0.25rem;}
.l-margin-t-s{margin-top: 0.375rem;}
.l-margin-t-xs{margin-top: 0.25rem;}
.l-margin-b{margin-bottom: 1rem;}
.l-margin-b-m{margin-bottom: 0.5rem;}
.l-margin-b-s{margin-bottom: 0.375rem;}
.l-margin-b-xs{margin-bottom: 0.25rem;}
.l-margin-l{margin-left: 1rem;}
.l-margin-lr{margin-left: 1rem;margin-right: 1rem;}
.l-margin-l-m{margin-left: 0.5rem !important;}
.l-margin-l-s{margin-left: 0.375rem !important;}
.l-margin-r-xl{margin-right: 1.5rem;}
.l-margin-r-l{margin-right: 1rem;}
.l-margin-r{margin-right: 1rem;}
.l-margin-r-s{margin-right: 0.5rem;}
.l-margin-r-xs{margin-right: 0.25rem;}

/* ios标准字体：黑体简 34px 28px 20px */
.l-lh-s{line-height: 1.2;}
.l-fs-xl{font-size: 1.4rem !important;}
.l-fs-l{font-size: 1rem !important;}
.l-fs{font-size: 0.85rem !important;}
.l-fs-m{font-size: 0.75rem !important;}
.l-fs-s{font-size: 0.7rem !important;}
.l-fs-xs{font-size: 0.6rem !important;}
.l-text-default{color: inherit !important;}
.l-text-gray{color: #99A9BF !important;}
.l-text-warn{color: #F7BA2A !important;}
.l-text-ok{color: #13CE66 !important;}
.l-text-error{color: #FF4949 !important;}
.l-text-hot{color: #dd2727 !important;}
.l-text-blue{color: #20A0FF !important;}
.l-text-fuchsia{color: #ff00ff !important;}
.l-text-right{text-align: right !important;}
.l-text-center{text-align: center !important;}
.l-text-nowrap{white-space: nowrap;}
.l-text-upper{text-transform: uppercase;}
.l-text-link{color: #20A0FF; text-decoration: underline;}
.l-text-wrap1, .l-text-wrap2{
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.l-text-wrap2 {line-height: 1.4; -webkit-line-clamp: 2; font-size: 1rem; }
.l-fs-s .l-text-wrap2, 
.l-fs-s.l-text-wrap2, 
.l-fs-xs.l-text-wrap2{line-height: 1.2; max-height: 1.6rem; overflow: hidden;}

.l-scroll{overflow-y: auto; -webkit-overflow-scrolling: touch; }
.l-bg-white{background-color: #fff;}
.l-bg-cover{background: no-repeat 50% 50%; background-size: cover;}
.l-bg-contain{background: no-repeat 50% 50%; background-size: contain;}
.l-bg-full{background: no-repeat 50% 50%; background-size: 100% 100%;}
.l-sticky{position: relative; position: -webkit-sticky; position: sticky; top: 0; z-index: 20;}
.l-block{display: block;}
.l-rel{position: relative;}
.l-abs{position: absolute;}
.l-fl{float: left;}
.l-fr{float: right;}
.l-zoom{overflow: hidden;}
