<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="main.com.weixinHtml.dao.po.ShareMaterialInfo" >

  <resultMap id="BaseResultMap" type="main.com.weixinHtml.dao.vo.ShareMaterialInfoVo" >
    <id column="material_info_id" property="materialInfoId" jdbcType="INTEGER" />
    <result column="material_info_name" property="materialInfoName" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="material_id" property="materialId" jdbcType="INTEGER" />
    <result column="system_user_id" property="systemUserId" jdbcType="INTEGER" />
    <result column="over_share" property="overShare" jdbcType="TINYINT" />
    <result column="read_name" property="readName" jdbcType="INTEGER" />
    <result column="over_delete" property="overDelete" jdbcType="TINYINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap id="BaseResultMapJoin" type="main.com.weixinHtml.dao.vo.ShareMaterialInfoVo" >
    <id column="material_info_id" property="materialInfoId" jdbcType="INTEGER" />
    <result column="material_info_name" property="materialInfoName" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="material_id" property="materialId" jdbcType="INTEGER" />
    <result column="system_user_id" property="systemUserId" jdbcType="INTEGER" />
    <result column="over_share" property="overShare" jdbcType="TINYINT" />
    <result column="read_name" property="readName" jdbcType="INTEGER" />
    <result column="over_delete" property="overDelete" jdbcType="TINYINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <association property="materialVo" column="material_id" select="getShareMaterial"></association>
    <association property="systemUsersVo" column="system_user_id" select="getSystemUser"></association>
  </resultMap>
  
    <resultMap id="shareMaterial" type="main.com.weixinHtml.dao.vo.ShareMaterialVo" >
    <id column="material_id" property="materialId" jdbcType="INTEGER" />
    <result column="material_name" property="materialName" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="system_user_id" property="systemUserId" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="over_shelf" property="overShelf" jdbcType="TINYINT" />
    <result column="on_shelf_date" property="onShelfDate" jdbcType="TIMESTAMP" />
    <result column="over_delete" property="overDelete" jdbcType="TINYINT" />
    <result column="read_number" property="readNumber" jdbcType="INTEGER" />
    <result column="over_share" property="overShare" jdbcType="TINYINT" />
  </resultMap>
  
    <select id="getShareMaterial" resultMap="shareMaterial" parameterType="java.lang.Integer" >
    select 
   share_material.*
    from share_material
    where material_id = #{material_id}
  </select>
  
  <resultMap id="systemUsers" type="main.com.system.dao.vo.SystemUsersVo">
		<id column="usersId" property="usersId" jdbcType="INTEGER" />
		<result column="headPortrait" property="headPortrait" jdbcType="VARCHAR" />
		<result column="realName" property="realName" jdbcType="VARCHAR" />
		<result column="phoneNumber" property="phoneNumber" jdbcType="VARCHAR" />
		</resultMap>
		
			<!-- 根据ID查询 -->
	<select id="getSystemUser" resultMap="systemUsers" parameterType="java.lang.Integer">
		select
		system_user.headPortrait,system_user.realName,system_user.phoneNumber
		from system_user where system_user.usersId = #{system_user_id}
	</select>
  
  <sql id="Where_Condition">
		<where>
			<trim prefixOverrides="and">
				<!-- 匹配查询 -->
				<if test="materialInfoId != null">and share_material_info.material_info_id = #{materialInfoId}</if>
				<if test="keywords != null and keywords !=''">and share_material_info.material_info_name like CONCAT('%',#{keywords},'%')</if>				
				<if test="systemUserId != null">and share_material_info.system_user_id = #{systemUserId}</if>				
				<if test="overDelete == null">and share_material_info.over_delete = 0</if>				
				<if test="overShare != null">and share_material_info.over_share = #{overShare}</if>				
                
				<!-- list查询 -->
				<if test="ids != null">and share_material_info.material_info_id in
                    <foreach item="item" index="index" collection="ids"
                             open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
			</trim>
		</where>
	</sql>

	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long"
		parameterType="java.util.Map">
		select count(material_info_id) from share_material_info
		<include refid="Where_Condition" />
	</select>

	<!-- 查询 -->
	<select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
		select 
    		share_material_info.*
    	from share_material_info
		<include refid="Where_Condition" />
		<if test="sortField != null"> order by share_material_info.create_date desc </if>
		<if test="isPage== true and offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
	</select>
  
  
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    share_material_info.*
    from share_material_info
    where material_info_id = #{materialInfoId,jdbcType=INTEGER}
  </select>
  
	<!-- 查询 -->
	<select id="selectJoin" resultMap="BaseResultMapJoin" parameterType="java.util.Map">
		select 
    		share_material_info.*
    	from share_material_info
		<include refid="Where_Condition" />
		<if test="sortField != null"> order by share_material_info.create_date desc </if>
		<if test="isPage== true and offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
	</select>
  
  <select id="selectByIdJoin" resultMap="BaseResultMapJoin" parameterType="java.lang.Integer" >
    select 
    share_material_info.*
    from share_material_info
    where material_info_id = #{materialInfoId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from share_material_info
    where material_info_id = #{materialInfoId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="main.com.weixinHtml.dao.po.ShareMaterialInfo" useGeneratedKeys="true" keyProperty="materialInfoId" >
    insert into share_material_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="materialInfoName != null" >
        material_info_name,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="materialId != null" >
        material_id,
      </if>
      <if test="systemUserId != null" >
        system_user_id,
      </if>
      <if test="overShare != null" >
        over_share,
      </if>
      <if test="readName != null" >
        read_name,
      </if>
      <if test="overDelete != null" >
        over_delete,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="materialInfoName != null" >
        #{materialInfoName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="materialId != null" >
        #{materialId,jdbcType=INTEGER},
      </if>
      <if test="systemUserId != null" >
        #{systemUserId,jdbcType=INTEGER},
      </if>
      <if test="overShare != null" >
        #{overShare,jdbcType=TINYINT},
      </if>
      <if test="readName != null" >
        #{readName,jdbcType=INTEGER},
      </if>
      <if test="overDelete != null" >
        #{overDelete,jdbcType=TINYINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="main.com.weixinHtml.dao.po.ShareMaterialInfo" >
    update share_material_info
    <set >
      <if test="materialInfoName != null" >
        material_info_name = #{materialInfoName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="materialId != null" >
        material_id = #{materialId,jdbcType=INTEGER},
      </if>
      <if test="systemUserId != null" >
        system_user_id = #{systemUserId,jdbcType=INTEGER},
      </if>
      <if test="overShare != null" >
        over_share = #{overShare,jdbcType=TINYINT},
      </if>
      <if test="readName != null" >
        read_name = #{readName,jdbcType=INTEGER},
      </if>
      <if test="overDelete != null" >
        over_delete = #{overDelete,jdbcType=TINYINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where material_info_id = #{materialInfoId,jdbcType=INTEGER}
  </update>
</mapper>